/* responsive styles small device */

/* small devices */
@media screen and (max-width: 600px) {
  /* shared styleS */

  body {
    margin-top: 24px;
  }
  header,
  main {
    max-width: calc(100% - 48px);
    margin: 0 auto;
  }
  header,
  main,
  main section {
    margin-bottom: 24px;
  }
  .big-title-font,
  .brand-name {
    font-size: 1.25rem;
  }
  .light-gray-font,
  .gray-font,
  .footer-rights {
    font-size: 0.875rem;
    line-height: 24px;
  }
  /* navbar styles */
  .brand {
    width: 177px;
  }
  .brand-logo {
    width: 52px;
    height: 34px;
  }
  .nav-links-container {
    display: none;
  }

  .icon-container {
    display: block;
  }

  /* banner styles */
  .banner-content {
    width: 98%;
    margin: 0 auto;
    padding-bottom: 35px;
  }
  .banner-title {
    font-size: 1.5rem;
  }
  .banner-form {
    width: 95%;
    margin: 0 auto;
    flex-direction: column;
    padding: 20px 0;
    gap: 16px;
  }
  .banner-form input[type="text"],
  .banner-form select,
  .form-btn {
    width: calc(100% - 30px);
    margin: 0 auto;
  }
  /* popular-tours styles */
  .popular-tours {
    flex-direction: column;
    gap: 20px;
  }
  .popular-section-content {
    width: 100%;
    text-align: left;
    gap: 16px;
  }
  .popular-list > li {
    margin-bottom: 12px;
  }
  .popular-list > li:last-child {
    margin-bottom: 0;
  }

  /* Destination styles */
  .destination-content {
    width: 309px;
    margin-bottom: 16px;
  }
  .flex-img-container {
    flex-direction: column;
    gap: 16px;
    flex-wrap: nowrap;
  }
  .flex-item img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
  }

  /* choose us styles */
  .choose-text-container {
    width: 309px;
    margin: 0 auto 16px;
  }
  .choose-flex-container {
    gap: 16px;
  }

  /* deals and discounts styles */
  .deals-text-container {
    width: 309px;
    margin: 24px auto 16px;
  }
  .discount-item {
    padding: 187px 16px 16px 16px;
  }
  .discount-box {
    padding: 25px;
  }
  .box-up-line:first-child {
    display: block;
  }

  /* .right-text {
    margin-top: 20px;
  } */
  /* simple-place styles */
  .simple-place {
    flex-direction: column;
    gap: 24px;
  }
  .simple-place-item {
    margin-left: 20px;
  }
  .simple-place-text-container,
  .simple-place-video-container video {
    width: 100%;
  }

  /* newsletter styles */
  .newsletter {
    width: 100%;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 25px;
    justify-content: center;
  }
  .newsletter-text-container {
    width: 100%;
  }
  .newsletter-img-container {
    width: 100%;
  }
  .discount-badge {
    width: 215px;
    padding: 15px 20px;
    top: 76%;
    left: 53.5%;
  }
  .badge-percent {
    font-size: 1.32rem;
  }

  /* bonus section */
  /* sponsors section */
  .sponsors-section {
    padding: 10px;
    border: 1px solid rgba(251, 181, 99, 0.2);
    background: rgba(251, 181, 99, 0.05);
    border-radius: 15px;
  }
  .sponsor-flex-container {
    margin-top: 24px;
    flex: wrap;
    flex-direction: column;
    gap: 15px;
  }

  /* footer section */
  .footer-section {
    padding: 33px 0;
  }
  .footer-container {
    width: 290px;
    margin: 0 auto;
  }
  .footer-brand .brand-name {
    font-size: 1.32rem;
  }
  .footer-brand-logo {
    width: 40px;
    height: 33px;
  }
  .footer-rights {
    margin-top: 25px;
  }
}
